<!-- Задача 52. Счастливый билет -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 12%)</div>

<p>Вы пользуетесь общественным транспортом? Вероятно, вы расплачивались за проезд и получали билет с номером. Счастливым билетом называют такой билет с шестизначным номером, где сумма первых трех цифр равна сумме последних трех. Т.е. билет с номером 385916 – счастливый, т.к. 3+8+5=9+1+6. Вам требуется написать программу, которая проверяет счастливость билета.</p>

<h4>Входные данные</h4>
<p>В единственной строке входного файла INPUT.TXT записано шесть десятичных цифр без пробелов.</p>

<h4>Выходные данные</h4>
<p>В выходной файл OUTPUT.TXT нужно вывести «YES», если билет с номером N счастливый и «NO» в противном случае.</p>

<details>
  <summary>Примеры</summary>
  <h4>Пример 1</h4>
  <code>385916</code>
  <code>YES</code>

  <h4>Пример 2</h4>
  <code>123456</code>
  <code>NO</code>
</details>

<details>
  <summary>Решение</summary>

</details>
