<!-- Задача 45. Произведение цифр -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 42%)</div>

<p>Требуется найти наименьшее натуральное число Q такое, что произведение его цифр равно заданному числу N.</p>

<h4>Входные данные</h4>
<p>В единственной строке входного файла INPUT.TXT записано одно целое число N (0 ≤ N ≤ 10<sup>9</sup>).</p>

<h4>Выходные данные</h4>
<p>В выходной файл OUTPUT.TXT нужно вывести искомое число Q. В том случае, если такого числа не существует, следует вывести -1.</p>

<details>
  <summary>Примеры</summary>
  <h4>Пример 1</h4>
  <code>10</code>
  <code>25</code>

  <h4>Пример 2</h4>
  <code>13</code>
  <code>-1</code>

  <h4>Пример 3</h4>
  <code>8</code>
  <code>8</code>

  <h4>Пример 4</h4>
  <code>90</code>
  <code>259</code>
</details>

<details>
  <summary>Решение</summary>

</details>
