<!-- Задача 11. Зайчик -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 55%)</div>

<p>В нашем зоопарке появился заяц. Его поместили в клетку, и чтобы ему не было скучно, директор зоопарка распорядился поставить в его клетке лесенку. Теперь наш зайчик может прыгать по лесенке вверх, перепрыгивая через ступеньки. Лестница имеет определенное количество ступенек N. Заяц может одним прыжком преодолеть не более К ступенек. Для разнообразия зайчик пытается каждый раз найти новый путь к вершине лестницы. Директору любопытно, сколько различных способов есть у зайца добраться до вершины лестницы при заданных значениях K и N. Помогите директору написать программу, которая поможет вычислить это количество. Например, если K=3 и N=4, то существуют следующие маршруты: 1+1+1+1, 1+1+2, 1+2+1, 2+1+1, 2+2, 1+3, 3+1. Т.е. при данных значениях у зайца всего 7 различных маршрутов добраться до вершины лестницы.</p>

<h4>Входные данные</h4>
<p>В единственной строке входного файла INPUT.TXT записаны два натуральных числа K и N (1 ≤ K ≤ N ≤ 300). К - максимальное количество ступенек, которое может преодолеть заяц одним прыжком, N – общее число ступенек лестницы.</p>

<h4>Выходные данные</h4>
<p>В единственную строку выходного файла OUTPUT.TXT нужно вывести количество возможных вариантов различных маршрутов зайца на верхнюю ступеньку лестницы без ведущих нулей.</p>

<details>
  <summary>Примеры</summary>
  <h4>Пример 1</h4>
  <code>1 3</code>
  <code>1</code>

  <h4>Пример 2</h4>
  <code>2 7</code>
  <code>21</code>

  <h4>Пример 3</h4>
  <code>3 10</code>
  <code>274</code>
</details>

<details>
  <summary>Решение</summary>
<pre>
#include &lt;iostream&gt;

using namespace std;

int m[400][100];

int main() {
  long k, n, i, j, t, z, w;
  cin >> k >> n;
  for (i = 0; i &lt; n; i++) {
    // пробегаем по вертикали, по всем ступенькам
    if (i &lt; k) m[i][0] = 1;
    // если на i+1 ступенек может прыгнуть, то 1

    else m[i][0] = 0;   // иначе с 0

    // ниже - вся соль расчета
    for (j = (0 > i - k ? 0 : i - k); j &lt;= i - 1; j++) {
      // с 0, если i &lt; k, иначе с разницы и до i-1
      z = 0;
      //  вычисляем количество вариантов, для данной i ступени, начиная  с верхней
      for (t = 0; t &lt; 100; t++) { // пробегаем весь массив по горизонтали
        w = m[i][t] = m[i][t] + m[j][t] + z;
        m[i][t] = w % 10; // распределяем количество прыжков по десятичным разрядам
        z = w / 10;
      }
    }
  }

  t = 99;
  while (m[n - 1][t] == 0) t--;
  // поразрядно выводим цифры результата
  for (; t >= 0; t--) cout &lt;&lt; m[n - 1][t];
  return 0;
}
</pre>
</details>
