<!-- Задача 21. Зарплата -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 4%)</div>

<p>В отделе работают 3 сотрудника, которые получают заработную плату в рублях. Требуется определить: на сколько зарплата самого высокооплачиваемого из них отличается от самого низкооплачиваемого.</p>

<h4>Входные данные</h4>
<p>В единственной строке входного файла INPUT.TXT записаны размеры зарплат всех сотрудников через пробел. Каждая заработная плата – это натуральное число, не превышающее 10<sup>5</sup>.</p>

<h4>Выходные данные</h4>
<p>В выходной файл OUTPUT.TXT необходимо вывести одно целое число — разницу между максимальной и минимальной зарплатой.</p>

<details>
  <summary>Примеры</summary>
  <h4>Пример 1</h4>
  <code>100 500 1000</code>
  <code>900</code>

  <h4>Пример 2</h4>
  <code>36 11 20</code>
  <code>25</code>
</details>

<details>
  <summary>Решение</summary>
<pre>
#include &lt;iostream&gt;
#include &lt;algorithm&gt;

using namespace std;

int main() {
  int a, b, c; // зарплаты сотрудников
  cin >> a >> b >> c;

  int mina = min(a, min(b, c));
  int maxa = max(a, max(b, c));

  cout &lt;&lt; maxa - mina;
}
</pre>
</details>
