<!-- Задача 49. Шаблоны -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 35%)</div>

<p>Шаблоном размера n назовем строку длины n, каждый из символов которой входит в множество {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, a, b, c, d, e, f, g, ?}. Шаблоны преобразуются в строки из цифр по следующим правилам:</p>
<ul>
  <li>символы от 0 до 9 могут быть преобразованы только сами в себя;</li>
  <li>символ a может преобразован в любой из символов 0,1, 2, 3;</li>
  <li>символ b может преобразован в любой из символов 1,2,3,4;</li>
  <li>символ c может преобразован в любой из символов 2,3,4,5;</li>
  <li>символ d может преобразован в любой из символов 3,4,5,6;</li>
  <li>символ e может преобразован в любой из символов 4,5,6,7;</li>
  <li>символ f может преобразован в любой из символов 5,6,7,8;</li>
  <li>символ g может преобразован в любой из символов 6,7,8,9;</li>
  <li>символ ? может преобразован в любой из символов от 0 до 9;</li>
</ul>
<p>Даны два шаблона: p1 и p2. Рассмотрим множество S1 строк, которые могут быть получены из p1 по описанным правилам, и множество S2 строк, которые могут быть получены из p2. Необходимо найти количество строк, входящих в оба этих множества.</p>

<h4>Входные данные</h4>
<p>Первая строка входного файла INPUT.TXT содержит шаблон p1, вторая — шаблон p2. Шаблоны имеют одинаковый положительный размер, не больше 9.</p>

<h4>Выходные данные</h4>
<p>В выходной файл OUTPUT.TXT выведите ответ на задачу.</p>

<details>
  <summary>Примеры</summary>
  <h4>Пример 1</h4>
<pre>
???
abc
</pre>
  <code>64</code>

  <h4>Пример 2</h4>
<pre>
???
000
</pre>
  <code>1</code>

  <h4>Пример 3</h4>
<pre>
abc
999
</pre>
  <code>0</code>
</details>

<details>
  <summary>Решение</summary>

</details>
