<!-- Задача 32. Годовой баланс -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 35%)</div>

<p>В конторе «Рога и Копыта» подходит время подведения годового баланса. В бухгалтерию поступили сведения о том, что, согласно документам, суммарный расход составил а рублей, a суммарный приход – b рублей. Поскольку с реальным положением дел эти цифры все равно не имеют ничего общего, бухгалтер решил реализовать следующую свою идею. Как известно, при наборе чисел на компьютере люди часто вводят цифры в неправильном порядке. Поэтому бухгалтер хочет найти такой способ переставить цифры в числах a и b, чтобы в результате разность a-b (и, соответственно, количество денег, которые он положит к себе в карман), была максимальна, а в случае можно будет сослаться на ошибку секретаря. При этом нельзя забывать о знаке чисел и о том, что ноль не может быть первой цифрой числа, отличного от ноля. Напишите программу, которая поможет бухгалтеру.</p>

<h4>Входные данные</h4>
<p>Входной файл INPUT.TXT содержит два целых числа a и b (-10<sup>9</sup> &lt; a,b &lt; 10<sup>9</sup>).</p>

<h4>Выходные данные</h4>
<p>В выходной файл OUTPUT.TXT выведите одно целое число – наибольшую разность чисел, первое из которых может быть получено перестановкой цифр a, а второе – перестановкой цифр b.</p>

<details>
  <summary>Примеры</summary>
  <h4>Пример 1</h4>
<pre>
18
10
</pre>
  <code>71</code>

  <h4>Пример 2</h4>
<pre>
1
-23
</pre>
  <code>33</code>
</details>

<details>
  <summary>Решение</summary>

</details>
