<!-- Задача 15. Дороги -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 18%)</div>

<p>В галактике «Milky Way» на планете «Snowflake» есть N городов, некоторые из которых соединены дорогами. Император галактики «Milky Way» решил провести инвентаризацию дорог на планете «Snowflake». Но, как оказалось, он не силен в математике, поэтому он просит вас сосчитать количество дорог. Требуется написать программу, помогающую императору сосчитать количество дорог на планете «Snowflake».</p>

<h4>Входные данные</h4>
<p>В первой строке входного файла INPUT.TXT записано число N (0 ≤ N ≤ 100). В следующих N строках записано по N чисел, каждое из которых является единичкой или ноликом. Причем, если в позиции (i, j) квадратной матрицы стоит единичка, то i-ый и j-ый города соединены дорогами, а если нолик, то не соединены. Гарантируется, что все дороги соединяют различные города.</p>

<h4>Выходные данные</h4>
<p>В выходной файл OUTPUT.TXT необходимо вывести число, определяющее количество дорог на планете «Snowflake».</p>

<details>
  <summary>Пример</summary>
<pre>
5
0 1 0 0 0
1 0 1 1 0
0 1 0 0 0
0 1 0 0 0
0 0 0 0 0
</pre>
  <code>3</code>
</details>

<details>
  <summary>Решение</summary>

</details>
