<!-- Задача 34. Секретное сообщение -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 36%)</div>

<p>На секретную базу в Арктике поступила шифровка – последовательность из n десятичных цифр. Она содержит номер секретной базы в Антарктиде, который является последовательностью из k десятичных цифр. При этом для того, чтобы отличить его от ненужной Вам информации, он повторен в шифровке хотя бы два раза (возможно, эти два вхождения перекрываются).</p>

<p>Напишите программу, которая по шифровке и длине номера секретной базы определяет, содержит ли шифровка номер базы. Учтите, что у базы может быть несколько номеров, и все они могут быть переданы в шифровке.</p>

<h4>Входные данные</h4>
<p>Первая строка входного файла INPUT.TXT содержит два целых числа: n (1 ≤ n ≤ 10<sup>5</sup>) и k (1 ≤ k ≤ 5) – длину шифровки и длину номера секретной базы соответственно. Вторая строка содержит n цифр – шифровку. Помните, что цифры в шифровке не разделяются пробелами.</p>

<h4>Выходные данные</h4>
<p>В выходной файл OUTPUT.TXT выведите «YES», если шифровка содержит номер секретной базы, и «NO» в противном случае.</p>

<details>
  <summary>Примеры</summary>
  <h4>Пример 1</h4>
  <pre>
  10 5
  0123456789
  </pre>
  <code>NO</code>

  <h4>Пример 2</h4>
  <pre>
  13 2
  0123400056789
  </pre>
  <code>YES</code>
</details>

<details>
  <summary>Решение</summary>

</details>
