<!-- Задача 19. Ферзь, ладья и конь -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 29%)</div>

<p>На шахматной доске 8х8 расположены три фигуры: ферзь, ладья и конь. Требуется определить количество пустых полей доски, которые находятся под боем. Для простоты будем полагать, что фигуры могут «бить» через другие фигуры. Например, в рассмотренной справа ситуации будем считать, что ферзь бьет D5 через ладью.</p>

<h4>Входные данные</h4>
<p>В единственной строке входного файла INPUT.TXT записаны через пробел координаты расположения трех фигур: ферзя, ладьи и коня соответственно. Каждая координата состоит из одного английского символа (от A до H) и одной цифры (от 1 до 8).</p>

<h4>Выходные данные</h4>
<p>В выходной файл OUTPUT.TXT нужно вывести количество пустых полей, которые бьют указанные во входных данных фигуры.</p>

<details>
  <summary>Пример</summary>
  <code>D1 D3 E5</code>
  <code>29</code>
</details>

<details>
  <summary>Решение</summary>

</details>
