<!-- Задача 33. Два бандита -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 4%)</div>

<p>Бандиты Гарри и Ларри отдыхали на природе. Решив пострелять, они выставили на бревно несколько банок из-под кока-колы (не больше 10). Гарри начал простреливать банки по порядку, начиная с самой левой, Ларри — с самой правой. В какой-то момент получилось так, что они одновременно прострелили одну и ту же последнюю банку.</p>

<p>Гарри возмутился и сказал, что Ларри должен ему кучу денег за то, что тот лишил его удовольствия прострелить несколько банок. В ответ Ларри сказал, что Гарри должен ему еще больше денег по тем же причинам. Они стали спорить кто кому сколько должен, но никто из них не помнил сколько банок было в начале, а искать простреленные банки по всей округе было неохота. Каждый из них помнил только, сколько банок прострелил он сам.</p>

<p>Определите по этим данным, сколько банок не прострелил Гарри и сколько банок не прострелил Ларри.</p>

<h4>Входные данные</h4>
<p>В единственной строке входного файла INPUT.TXT записано 2 числа — количество банок, простреленных Гарри и Ларри соответственно.</p>

<h4>Выходные данные</h4>
<p>В файл OUTPUT.TXT выведите 2 числа — количество банок, не простреленных Гарри и Ларри соответственно.</p>

<details>
  <summary>Пример</summary>
  <code>4 7</code>
  <code>6 3</code>
</details>

<details>
  <summary>Решение</summary>

</details>
