<!-- Задача 2. Сумма -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 19%)</div>

<p>Требуется посчитать сумму целых чисел, расположенных между числами 1 и N включительно.</p>

<h4>Входные данные</h4>
<p>В единственной строке входного файла INPUT.TXT записано единственное целое число N, не превышающее по абсолютной величине 10<sup>4</sup>.</p>

<h4>Выходные данные</h4>
<p>В единственную строку выходного файла OUTPUT.TXT нужно вывести одно целое число — сумму чисел, расположенных между 1 и N включительно.</p>

<details>
  <summary>Пример</summary>
  <code>5</code>
  <code>15</code>
</details>

<details>
  <summary>Решение</summary>
  <p>Воспользуемся формулой арифметической прогрессии для суммы чисел от 1 до n</p>
  <code>sum = n * (n + 1) / 2</code>
  <p>Для отрицательных n формула будет такой</p>
  <code>sum = -n * (n - 1) / 2</code>
  <p>Поскольку значения должны суммироваться до 1, то для отрицательных чисел прибавим к сумме 1.</p>
<pre>
#include &lt;iostream&gt;

using namespace std;

int main() {
  int n; // от -10000 до +10000
  cin >> n;

  if (n > 0) {
    cout &lt;&lt; n * (n + 1) / 2;
  } else {
    cout &lt;&lt; -n * (n - 1) / 2 + 1;
  }
}
</pre>
</details>
