<!-- Задача 36. Постулат Бертрана -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 30%)</div>

<p>Постулат Бертрана (теорема Бертрана-Чебышева, теорема Чебышева) гласит, что для любого n > 1 найдется простое число p в интервале n &lt; p &lt; 2n. Такая гипотеза была выдвинута в 1845 году французским математиком Джозефем Бертраном (проверившим ее до n=3000000) и доказана в 1850 году Пафнутием Чебышевым. Раманужан в 1920 году нашел более простое доказательство, а Эрдеш в 1932 – еще более простое.</p>

<p>Ваша задача состоит в том, чтобы решить несколько более общую задачу – а именно по числу n найти количество простых чисел p из интервала n &lt; p &lt; 2n.</p>

<p>Напомним, что число называется простым, если оно делится только само на себя и на единицу.</p>

<h4>Входные данные</h4>
<p>Входной файл INPUT.TXT содержит целое число n (2 ≤ n ≤ 50000).</p>

<h4>Выходные данные</h4>
<p>В выходной файл OUTPUT.TXT выведите одно число – ответ на задачу.</p>

<details>
  <summary>Примеры</summary>
  <h4>Пример 1</h4>
  <code>2</code>
  <code>1</code>

  <h4>Пример 2</h4>
  <code>239</code>
  <code>39</code>

  <h4>Пример 3</h4>
  <code>3000</code>
  <code>353</code>
</details>

<details>
  <summary>Решение</summary>

</details>
