<!-- Задача 47. Наилучший делитель -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 26%)</div>

<p>Будем говорить, что число a лучше числа b, если сумма цифр a больше суммы цифр числа b, а в случае равенства сумм их цифр, если число a меньше числа b. Например, число 124 лучше числа 123, так как у первого из них сумма цифр равна семи, а у второго – шести. Также, число 3 лучше числа 111, так как у них равны суммы цифр, но первое из них меньше.</p>

<p>Дано число n. Найдите такой его делитель (само число n и единица считаются делителями числа n), который лучше любого другого делителя числа n.</p>

<h4>Входные данные</h4>
<p>Первая строка входного файла содержит целое число n (1 ≤ n ≤ 10<sup>5</sup>).</p>

<h4>Выходные данные</h4>
<p>В выходной файл выведите ответ на задачу.</p>

<h4>Пример 1</h4>
<code>10</code>
<code>5</code>

<h4>Пример 2</h4>
<code>239</code>
<code>239</code>

<details>
  <summary>Решение</summary>

</details>
