<!-- Задача 43. Нули -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 16%)</div>

<p>Требуется найти самую длинную непрерывную цепочку нулей в последовательности нулей и единиц.</p>

<h4>Входные данные</h4>
<p>В единственной строке входного файла INPUT.TXT записана последовательность нулей и единиц (без пробелов). Суммарное количество цифр от 1 до 100.</p>

<h4>Выходные данные</h4>
<p>В единственную строку выходного файла OUTPUT.TXT нужно вывести искомую длину цепочки нулей.</p>

<h4>Пример 1</h4>
<code>00101110000110</code>
<code>4</code>

<details>
  <summary>Решение</summary>

</details>
