<!-- Задача 41. Сортировка подсчетом -->
<div class="time-memory">(Время 2с. Память 128мб. Сложность 29%)</div>

<p>На планете «Аурон» атмосфера практически отсутствует, поэтому она известна своими перепадами температур в различных точках. Известно, что эти перепады колеблются от -100 до 100 градусов. Нашим специалистам удалось выяснить значения температур в N точках этой планеты. К сожалению, эти значения вычислены с большими погрешностями, поэтому их решили округлить до целых чисел. Хотелось бы наглядно видеть участки с повышенной и пониженной температурой. Вам требуется помочь. Вы должны упорядочить температуры участков по неубыванию.</p>

<h4>Входные данные</h4>
<p>В первой строке входного файла INPUT.TXT задано натуральное число N - количество участков (N ≤ 10<sup>6</sup>). Во второй строке через пробел записаны целые значения температур этих участков, не превосходящие 100 по абсолютной величине.</p>

<h4>Выходные данные</h4>
<p>В единственную строку выходного файла OUTPUT.TXT нужно вывести разделенные пробелом значения температур всех известных участков, которые должны следовать друг за другом в порядке неубывания.</p>

<h4>Пример 1</h4>
<pre>
3
9 -20 14
</pre>
<code>-20 9 14</code>

<h4>Пример 2</h4>
<pre>
10
12 7 92 5 18 4 32 48 11 74
</pre>
<code>4 5 7 11 12 18 32 48 74 92</code>

<details>
  <summary>Решение</summary>

</details>
