<!-- Задача 40. 2^N -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 30%)</div>

<p>Необходимо вычислить значение 2<sup>n</sup>.</p>

<h4>Входные данные</h4>
<p>В единственной строке входного файла INPUT.TXT записано натуральное число n (0 &lt; n &lt; 1000).</p>

<h4>Выходные данные</h4>
<p>В единственную строку выходного файла OUTPUT.TXT нужно вывести значение 2<sup>n</sup>.</p>

<h4>Пример 1</h4>
<code>3</code>
<code>8</code>

<h4>Пример 2</h4>
<code>10</code>
<code>1024</code>

<h4>Пример 3</h4>
<code>72</code>
<code>4722366482869645213696</code>

<details>
  <summary>Решение</summary>

</details>
