<!-- Задача 50. Строки -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 35%)</div>

<p>Циклическим сдвигом строки s называется строка sksk+1sk+2…s|s|s1s2…sk-1 для некоторого k, здесь |s| - длина строки s. Подстрокой строки s называется строка sisi+1…sj-1sj для некоторых i и j. Вам даны две строки a и b. Выведите количество подстрок строки a, являющихся циклическими сдвигами строки b.</p>

<h4>Входные данные</h4>
<p>Первая строка входного файла INPUT.TXT содержит строку a (1 ≤ |a| ≤ 1000). Во второй строке входного файла записана строка b (1 ≤ |b| ≤ min(100,|a|)). Обе строки состоят только из символов английского алфавита и цифр.</p>

<h4>Выходные данные</h4>
<p>В выходной файл OUTPUT.TXT выведите целое число – ответ на задачу.</p>

<h4>Пример 1</h4>
<pre>
abcabc
abc
</pre>
<code>4</code>

<h4>Пример 2</h4>
<pre>
abcabc
acb
</pre>
<code>0</code>

<h4>Пример 3</h4>
<pre>
aaaaaaa
aa
</pre>
<code>0</code>

<h4>Пример 4</h4>
<pre>
aAaa8aaAa
aAa
</pre>
<code>4</code>

<details>
  <summary>Решение</summary>

</details>
