<!-- Задача 1. A+B -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 2%)</div>

<p>Требуется сложить два целых числа А и В.</p>

<h4>Входные данные</h4>
<p>В единственной строке входного файла INPUT.TXT записаны два натуральных числа через пробел. Значения чисел не превышают 10<sup>9</sup>.</p>

<h4>Выходные данные</h4>
<p>В единственную строку выходного файла OUTPUT.TXT нужно вывести одно целое число — сумму чисел А и В.</p>

<h4>Пример</h4>
<code>2 3</code>
<code>5</code>

<details>
  <summary>Решение</summary>
<pre>
#include &lt;iostream&gt;

using namespace std;

int main() {
  int a, b;
  cin >> a >> b;

  cout &lt;&lt; a + b;
}
</pre>
</details>
