<!-- Задача 24. Вырубка деревьев -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 46%)</div>

<p>Король Флатландии решил вырубить некоторые деревья, растущие перед его дворцом. Деревья перед дворцом короля посажены в ряд, всего там растет n деревьев, расстояния между соседними деревьями одинаковы.</p>

<p>После вырубки перед дворцом должно остаться m деревьев, и расстояния между соседними деревьями должны быть одинаковыми. Помогите королю выяснить, сколько существует способов вырубки деревьев.</p>

<p>Требуется написать программу, которая по заданным числам n и m определит, сколько существует способов вырубки некоторых из n деревьев так, чтобы после вырубки осталось m деревьев и соседние деревья находились на равном расстоянии друг от друга.</p>

<h4>Входные данные</h4>
<p>Входной файл INPUT.TXT содержит два целых числа n и m (0 ≤ m , n ≤ 1000).</p>

<h4>Выходные данные</h4>
<p>В единственную строку выходного файла OUTPUT.TXT нужно вывести одно целое число — искомое число способов.</p>

<h4>Пример 1</h4>
<code>5 3</code>
<code>4</code>

<p>Если обозначить условно исходное расположение деревьев перед дворцом как «TTTTT», то возможные результаты после вырубки следующие:</p>
<code>«TTT..», «.TTT.», «..TTT», «T.T.T».</code>

<details>
  <summary>Решение</summary>

</details>
