<!-- Задача 22. Единицы -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 16%)</div>

<p>На уроках информатики вас, наверное, учили переводить числа из одних систем счисления в другие и выполнять другие подобные операции. Пришло время продемонстрировать эти знания. Найдите количество единиц в двоичной записи заданного числа.</p>

<h4>Входные данные</h4>
<p>Во входном файле INPUT.TXT записано целое число n (0 ≤ n ≤ 2x10<sup>9</sup>).</p>

<h4>Выходные данные</h4>
<p>В единственную строку выходного файла OUTPUT.TXT нужно вывести одно целое число — количество двоичных единиц в записи числа n.</p>

<h4>Пример 1</h4>
<code>5</code>
<code>2</code>

<h4>Пример 2</h4>
<code>7</code>
<code>3</code>

<details>
  <summary>Решение</summary>

</details>
