<!-- Задача 21. Зарплата -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 4%)</div>

<p>В отделе работают 3 сотрудника, которые получают заработную плату в рублях. Требуется определить: на сколько зарплата самого высокооплачиваемого из них отличается от самого низкооплачиваемого.</p>

<h4>Входные данные</h4>
<p>В единственной строке входного файла INPUT.TXT записаны размеры зарплат всех сотрудников через пробел. Каждая заработная плата – это натуральное число, не превышающее 10<sup>5</sup>.</p>

<h4>Выходные данные</h4>
<p>В выходной файл OUTPUT.TXT необходимо вывести одно целое число — разницу между максимальной и минимальной зарплатой.</p>

<h4>Пример 1</h4>
<code>100 500 1000</code>
<code>900</code>

<h4>Пример 2</h4>
<code>36 11 20</code>
<code>25</code>

<details>
  <summary>Решение</summary>

</details>
