<!-- Задача 23. Гадание -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 13%)</div>

<p>Как и многие другие девочки, Маша любит разные гадания. Некоторое время назад Маша узнала новый способ гадать на числах – для какого-нибудь интересующего ее натурального числа n надо посчитать сумму всех чисел, на которые n делится без остатка. Маша не очень любит арифметику, и попросила вас написать программу, которая автоматизирует процесс гадания.</p>

<h4>Входные данные</h4>
<p>В единственной строке входного файла INPUT.TXT записано натуральное число n (n ≤ 1000), которое Маша была вынуждена сообщить.</p>

<h4>Выходные данные</h4>
<p>В выходной файл OUTPUT.TXT выведите сумму всех натуральных делителей числа n.</p>

<h4>Пример 1</h4>
<code>6</code>
<code>12</code>

<h4>Пример 2</h4>
<code>10</code>
<code>18</code>

<details>
  <summary>Решение</summary>

</details>
