<!-- Задача 35. Конечные автоматы -->
<div class="time-memory">(Время 1с. Память 16мб. Сложность 11%)</div>

<p>Однажды известный профессор обнаружил описания k конечных автоматов. По его мнению, нетривиальность конечного автомата, имеющего n состояний и m переходов, можно описать целым числом d = 19m + (n + 239)*(n + 366) / 2 . Чем больше d, тем больший интерес для науки представляет изучение его свойств.</p>

<p>Помогите профессору вычислить нетривиальность имеющихся у него автоматов.</p>

<h4>Входные данные</h4>
<p>Первая строка входного файла INPUT.TXT содержит целое число k (1 ≤ k ≤ 10000) – количество конечных автоматов. Следующие k строк содержат по два целых числа ni (0 ≤ ni ≤ 1000) и mi (0 ≤ mi ≤ 26ni<sup>2</sup>) – число состояний и переходов i-го автомата.</p>

<h4>Выходные данные</h4>
<p>Выходной файл OUTPUT.TXT должен состоять из k строк. На i-й строке выходного файла выведите одно число – нетривиальность i-го автомата.</p>

<h4>Пример 1</h4>
<pre>
4
2 0
13 20
5 23
18 6
</pre>
<pre>
44344
48134
45699
49458
</pre>

<h4>Пример 2</h4>
<pre>
2
15 20
1000 26000
</pre>
<pre>
48767
1340237
</pre>

<details>
  <summary>Решение</summary>

</details>
